{% include head.html %}
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="{{ site.url }}">
            {{ site.title }}
          </a>
        </div><!-- ./navbar-header-->
        <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" id="navbar-links">
                    <li><a href="/shree_shreshtha/">Home</a></li>
                    <li><a href="/shree_shreshtha/about/">About</a></li>
                    <li><a href="/shree_shreshtha/gallery/">Gallery</a></li>
                    <li><a href="/shree_shreshtha/courses/">Courses</a></li>
                    <li><a href="/shree_shreshtha/contact/">Contact</a></li>
              </ul>
        </div><!--/.nav-collapse -->
      </div><!-- ./container-->
    </nav>

    <div class="header">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <img src="{{ "public/images/shree.png" | relative_url }}" class="img-responsive">
            </div>
            <div id="header-text1" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <p style="font-size: 40px; font-style: bold"><i>Shree Shrestha</i></p>
              <p style="font-size: 40px; font-style: bold"><i>Tutorials</i></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p style="font-size: 34px">
              <i class="fa fa-quote-left"></i>
                Come join us. Pave the way for the strong foundation of
                your career
              <i class="fa fa-quote-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div id="check"></div>
    </div>

    {{ content }}
</body>
{% include footer.html %}
</html>
